{% load staticfiles %}

{# Load CSS and JavaScript #}

{% load fontawesome %}
<!-- http://w3lessons.info/2015/10/05/login-signup-form-using-material-design-and-jquery/-->

{# Load CSS and JavaScript Head tag #}
{%block head%}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
     {% fontawesome_stylesheet %}
    <title>Login</title>

    <!-- Page styles -->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>
    <script src="{% static 'materialize/js/materialize.js' %}"  /> </script>
    <link rel="stylesheet" href="{% static 'materialize/bin/ghpages-materialize.css' %}"  media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'materialize/bin/materialize.min.css' %}"  media="screen,projection"/>

    <style>

   .form {
     margin-left:35%;
     margin-right:35%;
   }
    </style>
  
  </head>
  
{%endblock%}

{% block login_body %}
<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      
 <form action="." method="post" class="login-form form">
        
        <div class="row">
          <div class="input-field col s12 center">
            <img src="http://w3lessons.info/logo.png" alt="" class="responsive-img valign profile-image-login">
            <p class="center login-form-text"> Login</p>
          </div>
        </div>
        
        <div class="row margin">
           {% block form%}
            {% endblock %}
          <!-- 
          <div class="input-field col s12">
           
            <i class="mdi-social-person-outline prefix"></i>
            <input class="validate" id="email" type="email">
            <label for="email" data-error="wrong" data-success="right" class="center-align">Email</label>
          </div>
        </div>
        -->
        <div class="row">          
          <div class="input-field col s12 m12 l12  login-text">
              <input type="checkbox" id="remember-me" />
              <label for="remember-me">Remember me</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="{% url 'register' %}">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="">Forgot password?</a></p>
          </div>          
        </div>
 
      </form>
    </div>
  </div>
{% endblock %}

<!-- Must add javascript animation when you press activate-->
{% block scripts %}


{% endblock %}
