{# Load the tag library #}
{% load staticfiles %}
{% load i18n%}
{# Load CSS and JavaScript #}

{% load fontawesome %}

<!DOCTYPE html>

<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->


  <head>


<script src="{{STATIC_URL}}js/responsiveslides.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Dominicreart</title>

    <!-- Page styles -->
     <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
    <script src="{% static 'js/materialize.js' %}"  /> </script>
    <script src="{% static 'js/materialize.js' %}"  /> </script>
        <script src="{% static 'js/materialize.min.js' %}"  /> </script>
    <script src="{% static 'js/cards.js' %}"  /> </script>
    <link rel="stylesheet" href="{% static 'ReponsiveSlides.js/reponsiveslides.min.js' %}"  media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'css/ghpages-materialize.css' %}"  media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.min.css">
    <link type = "text/css" rel = "stylesheet" href= "{{STATIC_URL}}css/style.css"/>
    
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    
  .card-title { 
  text-align: left; 
  font-size:30px;
  color:gray;
} 



   
    </style>
  </head>
  <body>
    <div id="nav-main" class="navbar-fixed">
    <nav  class="orange">
        <div class="nav-wrapper container">
            <a href="{% url 'home' %}" class="brand-logo">&nbsp;Dominicreart</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'login' %}">{{login_title}}</a></li>
        <li><a href="{% url 'register' %} ">{{register_tittle}}</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="#">
                        <input id="search" type="search" placeholder="search">
                    </a>
                </li>
            
            </ul>
        </div>
    </nav>
</div>

<nav class="orange lighten-2 flat hide-on-med-and-down">
    <div id ="nav-2nd" class="nav-wrapper container">
        <div class="row" style="vertical-align:middle; display:table;">
        	
            <div class="col s10">
				
                <ul class="left hide-on-med-and-down" style="margin-top:5%; text-align:left;">
						<li><a href="{% url 'workshops' %}"> {%trans 'Talleres'%}</a></li>
						<li><a href="{% url 'product' %} ">{% trans 'Arte'%} </a></li>
						<li><a href="#">  {% trans 'Blog' %} </a></li>
				</ul>
	
			</div>
            			
			{%block second_nav%}
			<div class="col s2">
				<form>
                <ul class="right hide-on-med-and-down">
                    <div id ="nav-2nd" class="nav-wrapper container">

                        <div class="input-field" style="text-align:right;">
                              <input id="search" type="search" required>
                              <label for="search"><i class="material-icons">search</i></label>
                              <i class="material-icons">close</i>
                        </div>

                    </div>
                    </ul>
				</form> 

            </div>							
			</div>
				{%endblock%}
			</div>
         </div>
         </div>

</nav>

      
       <!--<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">


        <nav>
    <div class="nav-wrapper">
      
      <a href="#" class="brand-logo">Dominicreart</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'login' %}">{{login_title}}</a></li>
        <li><a href="{% url 'register' %} ">{{register_tittle}}</a></li>

      </ul>
    </div>
    
  </nav> 
        
          <!-- Add spacer, to align navigation to the right in desktop -->
         
          <!-- Navigation -->
        <!--  <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'login' %}">{{login_title}}</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">{{register_tittle}}</a>
            </nav> -->
          </div>
          <span class="android-mobile-title mdl-layout-title">
    
          </span>
        
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li class="mdl-menu__item">5.0 Lollipop</li>
            <li class="mdl-menu__item">4.4 KitKat</li>
            <li disabled class="mdl-menu__item">4.3 Jelly Bean</li>
            <li class="mdl-menu__item">Android History</li>
          </ul>
        </div>
      </div>
      
      
      


      {% block body %}
    
  {% endblock %}
  <footer class="android-footer mdl-mega-footer">
          
          <!-- Page styles -->
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
          <div class="mdl-mega-footer--top-section">
            <div class="mdl-mega-footer--left-section">
              <button class="mdl-mega-footer--social-btn"></button>
              &nbsp;
              <button class="mdl-mega-footer--social-btn"></button>
              &nbsp;
              <button class="mdl-mega-footer--social-btn"></button>
            </div>
            <div class="mdl-mega-footer--right-section">
              <a class="mdl-typography--font-light" href="#top">
               {{home_title}}
                <i class="material-icons">expand_less</i>
              </a>
            </div>
          </div>

          <div class="mdl-mega-footer--middle-section">
            <p class="mdl-typography--font-light">Dominicreart © 2016: Santo Domingo, Republica Dominicana</p>
            
          </div>

          <div class="mdl-mega-footer--bottom-section">
            <a class="android-link android-link-menu mdl-typography--font-light" id="version-dropdown">
              Versions
              <i class="material-icons">arrow_drop_up</i>
            </a>
            <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="version-dropdown">
              <li class="mdl-menu__item">5.0 Lollipop</li>
              <li class="mdl-menu__item">4.4 KitKat</li>
              <li class="mdl-menu__item">4.3 Jelly Bean</li>
              <li class="mdl-menu__item">Android History</li>
            </ul>
            <a class="android-link android-link-menu mdl-typography--font-light" id="developers-dropdown">
              For Developers
              <i class="material-icons">arrow_drop_up</i>
            </a>
            <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="developers-dropdown">
              <li class="mdl-menu__item">App developer resources</li>
              <li class="mdl-menu__item">Android Open Source Project</li>
              <li class="mdl-menu__item">Android SDK</li>
              <li class="mdl-menu__item">Android for Work</li>
            </ul>
            <a class="android-link mdl-typography--font-light" href="">Blog</a>
            <a class="android-link mdl-typography--font-light" href="">Privacy Policy</a>
          </div>
              </footer>
      </div>
    </div>
    <a href="{% url 'register' %}" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">{% trans '¡Unete!' %}</a>
  <!--  <script src="https://code.getmdl.io/1.2.1/material.min.js"></script> -->
  </body>
</html>
