
{% extends 'home/base.html' %}
{# Load the tag library #}

{% load staticfiles %}

{# Load CSS and JavaScript #}

{% load fontawesome %}

<!DOCTYPE html>
{% block body %}

<body>   
 


        <div id ="workshop-section" class="android-more-section">
          <div class="android-section-title mdl-typography--display-1-color-contrast">{{workshops_title}}</div>
          <div class="android-card-container mdl-grid">
          
              <div class="row">
                
        {% for i in w %} 
        <div class="col s4 m4">
          <div class="card">
            <div class="card-image" class="z-depth-2">
              <img src="{{i.image.url}}" class = "workshops-thumbnail" >
              <span class="card-title"> {{i.name}}  </span>
            </div>
            <div class="card-content">
              <div id = "tags" >
                <a href="#!"  > <span class="new badge" data-badge-caption="">{{i.name_materials}}</span></a>
                </div>
              <p style = "font-family: cursive;">{{i.description}}</p>
            </div>
            <div id="verdetalles" class="card-action">
              <a href="#"><span id ="seedetails"> {{know_us}} </span></a>
            </div>
          </div>
        </div>
        {% endfor %}
                </div>                
            </div>
          </div>

   
  {% endblock %}
  </body>
</html>
