
{% extends 'home/base.html' %}
{# Load the tag library #}

{% load staticfiles %}

{# Load CSS and JavaScript #}

{% load fontawesome %}

<!DOCTYPE html>
{% block body %}
  <body>
        <div id="workshop-section-product"  class="android-more-section">
          <div class="android-section-title mdl-typography--display-1-color-contrast">{{art_title}}</div>
          <div class="android-card-container mdl-grid">
        
        
            <div class="row">
                  {% for i in p %} 
        <div class="col s4 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{i.image.url}}" class ="workshops-thumbnail">
              <span class="card-title">   {{i.name}}  </span>
            </div>
            <div class="card-content">
              <div class="tag">
              <a href="#!"  > <span class="new badge" data-badge-caption="">{{i.workshop.name_materials}}</span></a>
                </div>
              <p>{{i.description}}</p>
            </div>
            <div id="verdetalles"  class="card-action">
              <a href="#">{{viewdetails_title}}</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
        </div>
        
          </div>
        
  {% endblock %}
  </body>
</html>