
{% extends 'home/base.html' %}
{# Load the tag library #}

{% load staticfiles %}

{# Load CSS and JavaScript #}

{% load fontawesome %}

<!DOCTYPE html>
{% block body %}
  <body>
  
    
   
        
        <div class="android-wear-section">
          
            

     
          
          
     
            
             
      <div  class="carousel carousel-slider center" data-indicators="true">
    <div   class="carousel-fixed-item center">
     <!-- <a class="btn waves-effect white grey-text darken-text-2">button</a> -->
    </div>
    {% for i in s %}
    <div class="carousel-item red white-text"  href="{" style = "background-image: url('{{i.image.url}}')">
      <h2>{{i.name}}</h2>
     
    </div>
     {% endfor %}
     </div>
     </div>
                 <div class="android-wear-band">
            
            
            <div class="android-wear-band-text">
              <div class="mdl-typography--display-2 mdl-typography--font-thin" style = "text-align:center">{{subsection_title}}</div>
              <p class="mdl-typography--headline mdl-typography--font-thin">
                {{subsection_description}}
              </p>
              <p>
                <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
                <!--  See what's new in the Play Store&nbsp;<i class="material-icons">chevron_right</i> -->
                </a>
              </p>
            </div>
          </div>
        </div>
        <!--
        <div class="android-customized-section">
          <div class="android-customized-section-text">
            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Customised by you, for you</div>
            <p class="mdl-typography--font-light">
              Put the stuff that you care about right on your home screen: the latest news, the weather or a stream of your recent photos.
              <br>
              <a href="" class="android-link mdl-typography--font-light">Customise your phone</a>
            </p>
          </div> 
                 </div> -->
                 
                 
                 
          <!-- <div class="android-customized-section-image"></div> -->
 
        <div class="android-more-section">
          <div class="android-section-title mdl-typography--display-1-color-contrast">{{art_title}}</div>
          <div class="android-card-container mdl-grid">
        
        
            <div class="row">
                  {% for i in p %} 
        <div class="col s4 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{i.image.url}}" class ="workshops-thumbnail">
              <span class="card-title">   {{i.name}}  </span>
            </div>
            <div class="card-content">
              <div class="tag">
              <a href="#!"  > <span class="new badge" data-badge-caption="">{{i.workshop.name_materials}}</span></a>
                </div>
              <p>{{i.description}}</p>
            </div>
            <div id="verdetalles"  class="card-action">
              <a href="#">{{viewdetails_title}}</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
        </div>
        
          </div>
        
        
        <div class="android-more-section">
          <div class="android-section-title mdl-typography--display-1-color-contrast">{{workshops_title}}</div>
          <div class="android-card-container mdl-grid">
           
              <div class="row">
                
                  {% for i in w %} 
        <div class="col s4 m4">
          <div class="card">
            <div class="card-image" class="z-depth-2">
              <img src="{{i.image.url}}" class = "workshops-thumbnail" >
              <span class="card-title"> {{i.name}}  </span>
            </div>
            <div class="card-content">
              <div id = "tags" >
                <a href="#!"  > <span class="new badge" data-badge-caption="">{{i.name_materials}}</span></a>
                </div>
              <p style = "font-family: cursive;">{{i.description}}</p>
            </div>
            <div id="verdetalles" class="card-action">
              <a href="#"><span id ="seedetails"> {{know_us}} </span></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
          
  
                 
            
            </div>
          </div>

      
        <script>
        $(document).ready(function() {
        
        $('.carousel.carousel-slider').carousel({full_width: true,
         
        });
             
    window.setInterval(function(){$('.carousel.carousel-slider').carousel('next')},4000)
             
        $('.carousel.carousel-slider').css('height','350px');

});
        
  </script>
 
   
    
  {% endblock %}
  </body>
</html>
