{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
    <head>
        
  
    <title>{{titulo}}</title>
      </head>
      <body>
          <ul class="list-group">
              {% for i in workshops %}
              <li class="list-group-item"><span class="badge"> </span> {{i.name}}    </li> 
                {% endfor %}
               <marquee> <h1>CUSTOMERS</h1></marquee>
                    {% for i in customer %}
              <li class="list-group-item"><span class="badge"> </span> {{i.name}} {{i.last_name}}   </li> 
                {% endfor %}
          </ul>
      </body>
    
</html>