{% extends 'login_base.html' %}

<!-- Form tags from https://docs.djangoproject.com/en/1.10/topics/forms/ -->
<!-- Form tags from https://docs.djangoproject.com/en/1.10/topics/forms/ -->
{% load staticfiles %}

{# Load CSS and JavaScript #}

{% load fontawesome %}
{% block form%}
{% csrf_token %}

{{ form.non_field_errors }}

      <span class="red-text text-darken-2">  {{ form.email.errors }}</span>
   
    <div class="input-field col s12">
         
 <i class="prefix">{% fontawesome_icon 'user' color="gray" %}</i>
  
   <label for="email" data-error="wrong" data-success="right"> Email</label>
   {{ form.email }}
   
  </div>

{{ form.non_field_errors }}
      <span class="red-text text-darken-2">  {{ form.password.errors }}</span>
    
    <div class="input-field col s12">
            <i class="prefix">{% fontawesome_icon 'lock'  color="gray"%}</i>

    <label for="{{ form.password_id }}" data-error="wrong" data-success="right"> Password</label>
    {{ form.password }}
</div>
  
{% endblock %}

