{% extends 'login_base.html' %}


{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{%block title%} Contacto-Hire{%endblock%}
{% block css %}
  <link href="{{STATIC_URL}}css/signin.css" rel="stylesheet">
{% endblock %}



{% block form%}

{% csrf_token %}
{% for field in form %}
       
    <div class="input-field col s12">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}

{%endblock%}

{%block content%}
  <div class="container">
    {% if mensaje %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p>{{ mensaje }}</p>
      </div>
     {% endif %}
     <form action="{%  url "signup" %}" method="post" class=" standard center form-signin">
       {% csrf_token %}
       {% bootstrap_form form %}
       {% buttons %}
       <button type="submit" class="btn btn-lg btn-block btn-danger ">
         {% bootstrap_icon "ok" %} Sign In </button>
      {% endbuttons %}
    </form>
</div> <!-- /container -->
{% endblock %}